/***********************
		General
***********************/
body {
	background-color: #d9d9d9;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 6em;
	text-align: center;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
	font-size: 2em;
}

a:hover {
	color: coral;
}

a, p, h1, h2 {
	font-family: 'Quicksand', sans-serif;
}

/***********************
		Header
***********************/
.imgContainer {
	background-image: url(../img/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.innerContainer {
	padding-top: 25%
}

.mugshot {
	border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
	text-align: center;
	margin-top: -50px;
}

/*** Fixed Navbar ***/
#navbar {
	overflow: hidden;
	background-color: black;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	z-index: 500;
}

/* Page content */
.content {
	padding: 10px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 97%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}

/***********************
		Content
***********************/
/** About **/
.bio, .talk, .grid, .socialLinks{
	margin: 5%;
}

/** Projects **/
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 20px;
	justify-content: center;
}

.container {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: coral;
}

/** Social **/
.socialLinks {
	display: flex;
	justify-content: space-around;
	padding-bottom: 50px;
	padding-left: 6.5%;
}

.socialLinks img {
	max-width: 50%;
}

.top {
	width: 128px;
	border-radius: 50%;
}


/***********************
		Footer
***********************/

footer {
	display: flex;
	justify-content: center;
}

/***********************
		Media Queries
***********************/

@media (max-width: 599px) {
	/* body styles */
	h1 {
		font-size: 4em;
	}

	.title {
		margin-top: auto;
	}

	.grid {
		grid-template-columns: 80%;
		grid-gap: 20px;
		margin: auto;
	}

	.middle, {
		visibility: hidden;
	}

	.socialLinks {
		justify-content: space-between;
		padding-left: 10%;
	}
}










