/***********************
		General
***********************/
body {
	background-color: #d9d9d9;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 6em;
	text-align: center;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
	font-size: 2em;
}

a:hover {
	color: coral;
}

a, p, h1 {
	font-family: 'Quicksand', sans-serif;
}

/***********************
		Header
***********************/
header {
}

.mugshot {
	border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
	text-align: center;
}

/*** Fixed Navbar ***/
#navbar {
	overflow: hidden;
	background-color: black;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

/* Page content */
.content {
	padding: 10px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 97%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
	padding-top: 60px;
}

/*** Body ***/
.bio, .talk{
	margin: 5%;
}

.projects {
	margin: auto;
}

.socialLinks {
	display: flex;
	justify-content: space-around;
}


/***********************
		Footer
***********************/

footer {
	display: flex;
	justify-content: center;
}